<h1>contact</h1>
    <header id="contact-header">
      <h2>Let's Chat</h2>
      <p>I would love to be a part of your team! I have a lot to learn and a detailed eye to offer. I am a gemini, so it's a 2-for-1 deal.</p>
    </header>
      <div id="email-wrapper">
        <div id="email-icon"></div>
        <a href="mailto:gonzales.andre@gmail.com">Email</a>
      </div>