<img src="/img/profile-pic.png" alt="">
<h2>Developer</h2>
<p>I have spent the last 3 years coding my brains out. HTML has been a part of my life since 1998 when I started reading one of my Dad's big wordy books. In 2018 I got serious and worked my way through a Udemy Course. Endless YouTube tutorials have given me thousands of hours of coding. I bricked my Surface Pro 4 becuase it couldn't handle the hours I was putting into it.</p>
<p>I have spent the majority of my time making sure I fully understand <span class='punch'>HTML, CSS, and JavaScript</span> as the foundations for my coding. These fundamentals have made learning any language possible.</p>
<h2>Skills:</h2>
      <ul class="skill-tree">
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>PHP</li>
        <li>React</li>
        <li>Node.JS</li>
        <li>Express</li>
        <li>MariaDB</li>
        <li>MySQL</li>
      </ul>
<p>Through my dedication, I have found a fundamental change in the way I process data. I have always been able to solve any problem, but now I feel 100% confident that I can learn any language or set of tools to do so.</p>
<p>My <span class='punch'>excitement for coding</span> drives me. More than money or career success. There is a deep satisfaction that comes from programming and understanding the concepts, even when I spend sleepless nights getting there.</p>
<p>I may be new to this profession, but my <span class="punch"> passion</span> and disposition <span class="punch"> for coding</span> spans decades.</p>