<h1>projects</h1>
<div id="project-container">
    <article>
      <figure>
        <a href="https://www.wallofwhiskey.com" target="_blank"><img src="/img/wall-of-whiskey.jpg" alt="Small preview of the wallofwhiskey website"></a>
        <figcaption>
          <a href="https://www.wallofwhiskey.com"><h3>Wall of Whiskey</h3></a>
          <p>An infromative cocktail, whiskey tasting, bar-lifestyle website I made with HTML, CSS and JavaScript. Personal project while working at a whiskey bar.</p>
        </figcaption>
      </figure>
      <div class="tech">
        <h3>Technologies Used:</h3>
        <ul>
          <li>HTML</li>
          <li>CSS</li>
          <li>JavaScript</li>
        </ul>
      </div>
    </article>
    <article>
      <figure>
        <a href="https://whatfromapi.herokuapp.com/" target="_blank"><img src="/img/what-from.png" alt="preview of the WhatFrom? API"></a>
        <figcaption>
          <a href="https://whatfromapi.herokuapp.com/"><h3>WhatFrom? API</h3></a>
          <p>I created an API that fetches data from IMDB.com in order to display current actor infromation.</p>
        </figcaption>
      </figure>
      <div class="tech">
        <h3>Technologies Used:</h3>
        <ul>
          <li>HTML</li>
          <li>CSS</li>
          <li>JavaScript</li>
          <li>NodeJs</li>
          <li>Express</li>
          <li>Axios</li>
        </ul>
      </div>
    </article>
    <article>
      <figure>
        <a href="https://gibstock.github.io/" target="_blank"><img src="/img/gibstock-hd.png" alt="HD Version of portfolio"></a>
        <figcaption>
          <a href="https://gibstock.github.io/"><h3>HD Version of this portfolio</h3></a>
          <p>If you aren't hyped by 80's nostalgia, here's an HD full color version of this portfolio.</p>
        </figcaption>
      </figure>
      <div class="tech">
        <h3>Technologies Used:</h3>
        <ul>
          <li>HTML</li>
          <li>CSS</li>
          <li>JavaScript</li>
        </ul>
      </div>
    </article>
  </div>